MONGODB_URI=mongodb://mongo:KNcVbCoTLyURxPGUjeGdajHQVMLTdQwn@switchback.proxy.rlwy.net:44380/home-intruder-detection?authSource=admin
JWT_SECRET=6d900b50ed19d7b02d3ee5d28815ab25ecef7cd135a34e9acc0e446480d8df6c
ADMIN_USERNAME=InspiredGhost
ADMIN_PASSWORD=TheCoFounder2010
